<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'TaskOne.WindowsPhone' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>0777c3f7-ac47-47c4-90c5-b09f644580a4</InstrumentationKey>
</ApplicationInsights>